<h2><b>MILITARY ORGANIZATIONS</b></h2> 
<br>
<table id="military_organizations">
	<tr id="headers">
		<th>NAME</th>
		<th>ACRONYM</th>
		<th colspan="2">OPTIONS</th>
	</tr>
	<% @military_organizations.each do |military_organization| %>
		
		<tr>
			<td id="military_organization_name_<%= military_organization.id %>"><%= military_organization.name %></td>
			<td id="military_organization_acronym_<%= military_organization.id %>"><%= military_organization.acronym %></td>
			<td id="military_organization_edit_<%= military_organization.id %>"><%= link_to 'Edit', edit_military_organization_path(military_organization) %></td>
			<td id="military_organization_destroy_<%= military_organization.id %>"><%= link_to 'Destroy', military_organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>

</table>
<br>
<%= link_to 'Create new military organization', new_military_organization_path %>
<br />
<%= link_to 'Back', sos_path %>
