<h2><b>SERVICE ORDERS</b></h2> 
<br>
<table id="sos">
	<tr>
		<th>MATERIAL DESCRIPTION</th>
		<th>GUIDE NUMBER</th>
		<th colspan="3">OPTIONS</th>
	</tr>
	<% @sos.each do |so| %>
		<tr>
			<td id="so_material_description_<%= so.id %>"><%= so.material_description %></td>
			<td id="so_guide_number_<%= so.id %>"><%= so.guide_number %></td>
			<td id="so_show_<%= so.id %>"><%= link_to 'Show', so %></td>
			<td id="so_edit_<%= so.id %>"><%= link_to 'Edit', edit_so_path(so) %></td>
			<td id="so_destroy_<%= so.id %>"><%= link_to 'Destroy', so, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>
<br />
<%= link_to 'Create new service order', new_so_path %>

<br />
<%= link_to 'Manage material classes', material_classes_path %>

<br />
<%= link_to 'Manage military organizations', military_organizations_path %>

<br />
<%= link_to 'Manage section military organizations', section_military_organizations_path %>



