<h2><b>Creating a new service order</b></h2>

<%= form_for(@so) do |f| %>
  <table id="table_new_so">
    <tr id="material_description">
      <div class="field">
        <td><%= f.label :material_description %></td>
        <td><%= f.text_field :material_description %></td>
      </div>
    </tr>
    <tr id="guide_number">
      <div class="field">
        <td><%= f.label :guide_number %></td>
        <td><%= f.text_field :guide_number %></td>
      </div>
    </tr>
    <tr id="sender_name">
      <div class="field">
        <td><%= f.label :sender_name %></td>
        <td><%= f.text_field :sender_name %></td>
      </div>
    </tr>
    <tr id="sender_phone">
      <div class="field">
        <td><%= f.label :sender_phone %></td>
        <td><%= f.text_field :sender_phone %></td>
      </div>
    </tr>
    <tr id="total_amount">
      <div class="field">
        <td><%= f.label :total_amount %></td>
        <td><%= f.text_field :total_amount %></td>
      </div>
    </tr>
    <tr id="material_class">
      <div class="field">
        <td><%= f.label :material_class_id %></td>
        <td><%= f.select :material_class_id, MaterialClass.all.collect{|p| [p.name, p.id]}, { include_blank: true } %></td>
      </div>
    </tr>
    <tr id="military_organization">
      <div class="field">
        <td><%= f.label :military_organization_id %></td>
        <td><%= f.select :military_organization_id, MilitaryOrganization.all.collect{|p| [p.name, p.id]}, { include_blank: true } %></td>
      </div>
    </tr>
  </table>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', sos_path %>