<h2><b>Showing Service Order</b></h2> 
<br>
<table id="so">
	<tr>
		<th>MATERIAL DESCRIPTION</th>
		<th>GUIDE NUMBER</th>
		<th>SENDER NAME</th>
		<th>SENDER PHONE</th>
		<th>TOTAL AMOUNT</th>
		<th>MATERIAL CLASS</th>
		<th>MILITARY ORGANIZATION</th>
	</tr>
	<tr>
		<td id="material_description"><%= @so.material_description %></td>
		<td id="guide_number"><%= @so.guide_number %></td>
		<td id="sender_name"><%= @so.sender_name %></td>
		<td id="sender_phone"><%= @so.sender_phone %></td>
		<td id="total_amount"><%= @so.total_amount %></td>
		<td id="material_class_name"><%= @so.material_class.name %></td>
		<td id="military_organization_acronym"><%= @so.military_organization.acronym %></td>
	</tr>

</table>
<br>

<h3><b>Showing Sub Service Orders</b></h3> 

<table id="sub_service_orders">
	<tr>
		<th>DESCRIPTION</th>
		<th>AMOUNT</th>
		<th>TECHNICAL</th>
		<th>SECTION MILITARY ORGANIZATION</th>
		<th colspan="4">OPTIONS</th>
	</tr>
	<% @so.sub_service_orders.each do |sub_service_order| %>
		<tr>
			<td id="sub_service_order_description_<%= sub_service_order.id %>"><%= sub_service_order.description %></td>
			<td id="sub_service_order_amount_<%= sub_service_order.id %>"><%= sub_service_order.amount %></td>
			<td id="sub_service_order_technical_<%= sub_service_order.id %>"><%= sub_service_order.technical %></td>
			<td id="sub_service_order_section_military_organization_acronym_<%= sub_service_order.id %>"><%= sub_service_order.section_military_organization.acronym %></td>
			<td id="sub_service_order_add_material_<%= sub_service_order.id %>"><%= link_to 'Add Material', new_so_sub_service_order_material_path(@so,sub_service_order) %></td>
			<td id="sub_service_order_show_<%= sub_service_order.id %>"><%= link_to 'Show', so_sub_service_order_path(@so, sub_service_order) %></td>
			<td id="sub_service_order_edit_<%= sub_service_order.id %>"><%= link_to 'Edit', edit_so_sub_service_order_path(@so, sub_service_order) %></td>
			<td id="sub_service_order_destroy_<%= sub_service_order.id %>"><%= link_to 'Destroy', so_sub_service_order_path(@so, sub_service_order), method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>

</table>
<br>
<%= link_to 'Create new sub service order', new_so_sub_service_order_path(@so) %>
<br>
<%= link_to 'Back', sos_path %>