<h2><b>Editing - section military organization</b></h2>

<%= form_for(@section_military_organization) do |f| %>
 <table id="section_military_organization">
    <tr id="name">
      <div class="field">
        <td id="name_label"><%= f.label :name %></td>
        <td id="name_textfield"><%= f.text_field :name %></td>
      </div>
    </tr>
    <tr id="acronym">
      <div class="field">
        <td id="acronym_label"><%= f.label :acronym %></td>
        <td id="acronym_textfield"><%= f.text_field :acronym %></td>
      </div>
    </tr>
  </table>
  <br>

  <div class="actions">
	  <%= f.submit %>
  </div>
 
<% end %>

<%= link_to 'Back', section_military_organizations_path %>