<h2><b>SECTION MILITARY ORGANIZATIONS</b></h2> 
<br>
<table id="section_military_organizations">
	<tr id="header">
		<th>NAME</th>
		<th>ACRONYM</th>
		<th colspan="2">OPTIONS</th>
	</tr>
	<% @section_military_organizations.each do |section_military_organization| %>
		<tr>
			<td id="section_military_organization_name_<%= section_military_organization.id %>"><%= section_military_organization.name %></td>
			<td id="section_military_organization_acronym_<%= section_military_organization.id %>"><%= section_military_organization.acronym %></td>
			<td id="section_military_organization_edit_<%= section_military_organization.id %>"><%= link_to 'Edit', edit_section_military_organization_path(section_military_organization) %></td>
			<td id="section_military_organization_destroy_<%= section_military_organization.id %>"><%= link_to 'Destroy', section_military_organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			
		</tr>
	<% end %>
</table>
<br>
<%= link_to 'Create new section military organization', new_section_military_organization_path %>
<br />
<%= link_to 'Back', sos_path %>