<h2><b>Editing - Sub Service Order</b></h2>

<%= form_for [@so, @sub_service_order] do |f| %>
<table id="sub_service_order">
  <tr id="guide_number">
    <div class="field">
      <td><%= f.label "so_guide_number" %></td>
      <td><%= @so.guide_number %></td>
      <%= f.hidden_field :so_id, value: @so.id %>
    </div>
  </tr>
  <tr id="description">
    <div class="field">
      <td><%= f.label :description %></td>
      <td><%= f.text_area :description, cols: 40, rows: 20 %></td>
    </div>
  </tr>
  <tr id="amount">
    <div class="field">
      <td><%= f.label :amount %></td>
      <td><%= f.text_field :amount %></td>
    </div>
  </tr>  
  <tr id="service_description">
    <div class="field">
      <td><%= f.label :service_description %></td>
      <td><%= f.text_area :service_description, cols: 40, rows: 20 %></td>
    </div>
  </tr>
  <tr id="technical">
    <div class="field">
      <td><%= f.label :technical %></td>
      <td><%= f.text_field :technical %></td>
    </div>
  </tr>
  <tr id="section_military_organization">
    <div class="field">
      <td><%= f.label :section_military_organization_id %></td>
      <td><%= f.select :section_military_organization_id, SectionMilitaryOrganization.all.collect{|p| [p.name, p.id]}, { include_blank: true } %></td>
    </div>
  </tr>
</table>   
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', so_path(@so) %>