<h2><b>Showing Sub Service Order</b></h2> 
<br>
<table id="sub_service_order">
	<tr id="header">
		<th>DESCRIPTION</th>
		<th>AMOUNT</th>
		<th>SERVICE DESCRIPTION</th>
		<th>TECHNICAL</th>
		<th>GUIDE NUMBER(SO)</th>
		<th>SECTION MILITARY ORGANIZATION</th>
	</tr>
	<tr id="information">
		<td id="description"><%= @sub_service_order.description %></td>
		<td id="amount"><%= @sub_service_order.amount %></td>
		<td id="service_description"><%= @sub_service_order.service_description %></td>
		<td id="technical"><%= @sub_service_order.technical %></td>
		<td id="so_guide_number"><%= @sub_service_order.so.guide_number %></td>
		<td id="section_military_organization_acronym"><%= @sub_service_order.section_military_organization.acronym %></td>
	</tr>
</table>
<br>
<h3><b>Showing Materials</b></h3> 
<table id="materials">
	<tr id="header_material">
		<th>NAME</th>
		<th>AMOUNTS</th>
		<th>VALUE</th>
		<th>UNIT</th>
		<th>OPTION</th>
	</tr>
	<% @total = 0 %>
	<% @sub_service_order.materials.each do |material| %>
		<tr>
			<td id="material_name_<%= material.id %>"><%= material.name %></td>
			<td id="material_amount_<%= material.id %>"><%= material.amount %></td>
			<td id="material_value_<%= material.id %>"><%= material.value %></td>
			<td id="material_unit_<%= material.id %>"><%= material.unit %></td>
			<td id="material_destroy_<%= material.id %>"><%= link_to 'Destroy', so_sub_service_order_material_path(@so, @sub_service_order, material), method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% @total = @total + (material.amount * material.value) %>
	<% end %>
	
</table>
<br>
<table id="table_total">
	<tr>
		<th>TOTAL: </th>
		<td id="total"> R$ <%= @total %></td>  
	</tr> 
</table>
<br>
<%= link_to 'Add Material', new_so_sub_service_order_material_path(@so,@sub_service_order) %>
<br>
<%= link_to 'Back', so_path(@sub_service_order.so_id) %>	