<h2><b>MATERIAL CLASSES</b></h2> 
<br>
<table id="material_classes">
	<tr>
		<th>NAME</th>
		<th>ACRONYM</th>
		<th colspan="3">OPTIONS</th>
	</tr>
	<% @material_classes.each do |material_class| %>
		<tr>
			<td id="material_class_name_<%= material_class.id %>"><%= material_class.name %></td>
			<td id="material_class_acronym_<%= material_class.id %>"><%= material_class.acronym %></td>
			<td id="material_class_edit_<%= material_class.id %>"><%= link_to 'Edit', edit_material_class_path(material_class) %></td>
			<td id="material_class_destroy_<%= material_class.id %>"><%= link_to 'Destroy', material_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>
<br>
<%= link_to 'Create new material class', new_material_class_path %>
<br />
<%= link_to 'Back', sos_path %>