<h2><b>Creating a new material class </b></h2>

<%= form_for(@material_class) do |f| %>
<table id="table_new_material_class">
  <tr id="name">
      <div class="field">
        <td id="name_label" ><%= f.label :name %></td>
        <td id="name_text_field"><%= f.text_field :name %></td>
      </div>
  </tr>
  <tr id="acronym">
      <div class="field">
        <td id="acronym_label"><%= f.label :acronym %></td>
        <td id="acronym_text_field"><%= f.text_field :acronym %></td>
      </div>
  </tr>
</table> 
  <br>  
  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>

<%= link_to 'Back', material_classes_path %>