<h2><b>Creating a new material </b></h2>

<%= form_for [@so, @sub_service_order, @material] do |f| %>
  <table id="material">
    <tr id="sso_description">
      <div class="field">
        <td><%= f.label "sub_service_order_description" %></td>
        <td><%= @sub_service_order.description %></td>
        <%= f.hidden_field :sub_service_order_id, value: @sub_service_order.id %>
      </div>
    </tr>
    <tr id="name">
      <div class="field">
        <td><%= f.label :name %></td>
        <td><%= f.text_field :name %></td>
      </div>
    </tr>
    <tr id="amount">
      <div class="field">
        <td><%= f.label :amount %></td>
        <td><%= f.text_field :amount %></td>
      </div>
    </tr>
    <tr id="value">
      <div class="field">
        <td><%= f.label :value %></td>
        <td><%= f.text_field :value %></td>
      </div>
    </tr>
    <tr id="unit">
      <div class="field">
        <td><%= f.label :unit %></td>
        <td><%= f.text_field :unit %></td>
      </div>
    </tr>
  </table>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', so_path(@sub_service_order.so) %>